<div class="left-and-right-buttons">
  <%= link_to @project.prev, class: 'show-button previous-button' ,remote: true do %>
    <i class="fas fa-chevron-left left-arrow"></i>
  <% end %>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path(@project.image_url) %>);">
    <div class="banner-content">
      <h1><%= @project.name %></h1>
      <div class="buttons">
        <a href="<%= @project.location_url %>"  target="_blank" class="btn btn-primary btn-lg">
          Website link
        </a>
        <a href="<%= @project.github_url %>"  target="_blank" class="btn btn-primary btn-lg">
          Github link
        </a>
      </div>
      <div>
        <p><%= @project.blurb %></p>
      </div>
    </div>
  </div>

  <% if @project.testemonials.length > 0 %>
    <div class="testemonials">
      <h3>Testemonials</h3>
      <% @project.testemonials.each do |t| %>
        <div class="message">
          <div class="message-name">
            <h3><%= t.name %></h3>
            <p><%= t.created_at.strftime("%B %d %Y") %></p>
          </div>
          <div class="message-body">
            <p><%= t.content %></p>
          </div>
          <div class="message-status">
            <p class="status pending">connection:</p>
            <p class="price"><%= t.connection %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to @project.next, class: 'show-button next-button' ,remote: true do %>
    <i class="fas fa-chevron-right right-arrow"></i>
  <% end %>
</div>


