<h3><%= @project.name %></h3>
<p>website: <%= @project.location_url %></p>
<p>github: <%= @project.github_url %></p>
<p>image url: <%= @project.image_url %></p>
<p>text: <%= @project.blurb %></p>

<p> ------ </p>

<% if @project.testemonials.length > 0 %>
  <h3>Testemonials</h3>
    <% @project.testemonials.each do |testemonial| %>
      <div class="message">
        <div class="message-name">
          <h3><%= testemonial.name %></h3>
          <p><%= testemonial.created_at.strftime("%B %d %Y") %></p>
        </div>
        <div class="message-body">
          <p><%= testemonial.content %></p>
        </div>
        <div class="message-status">
          <p class="status pending">connection:</p>
          <p class="price"><%= testemonial.connection %></p>
        </div>
      </div>
    <% end %>
<% end %>
