<div class="modal" style="display: block;">
  <div id="show-grid">
    <%= link_to(projects_path, :class => "show-back-button") do %>
    <i class="fas fa-chevron-up up-arrow"></i>
    <% end %> <%= link_to(@project.prev, :class => 'show-button
    previous-button') do %>
    <i class="fas fa-chevron-left left-arrow"></i>
    <% end %>

    <div
      class="banner"
      style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path(@project.image_url) %>);"
    >
      <div class="banner-content">
        <h1><%= @project.name %></h1>
        <div class="buttons">
          <a
            href="<%= @project.location_url %>"
            target="_blank"
            class="btn btn-primary btn-lg"
          >
            Website link
          </a>
          <a
            href="<%= @project.github_url %>"
            target="_blank"
            class="btn btn-primary btn-lg"
          >
            Github link
          </a>
        </div>
        <div>
          <p><%= @project.blurb %></p>
        </div>
      </div>
    </div>

    <%= link_to @project.next, class: 'show-button next-button' do
    %>
    <i class="fas fa-chevron-right right-arrow"></i>
    <% end %>
  </div>
</div>
